<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-general.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Formas de Pago
    </title>
</head>

<body id="payment">
    <h2>Formas de Pago</h2>
    <section id="credit">
        <h3 id="credit-title">Tarjetas de crédito</h4>
        <p>Accedé TODOS LOS DIAS a este beneficio desde la comodidas de tu hogar, comprando en nuestra web!</p>
        <article id="ahora3">
            <img src="/img/ahora3.jpg" alt="ahora3" id="ahora3Img">
            <div id="ahora3Info">
                <h4>Con las siguientes tarjetas (bancarizadas):</h4>
                <img src="/img/tarjetas.jpg" alt="tarjetas" id="tarjetasImg">
            </div>
        </article>
        <article id="banco">
            <img src="/img/bancoco.jpg" alt="banco-corrientes" id="bancocoImg">
            <div id="bancoInfo">
            <h4>Banco de corrientes</h4>
            <p>Reintegro del 10% de tu compra y 6 coutas sin interés.</p>
        </div>
        </article>
        <article id="naranja">
            <img src="/img/naranja.jpg" alt="naranja" id="naranjaImg">
            <div id="naranjaInfo">
            <h4>Tarjeta naranja</h4>
            <p>Aceptamos tarjeta naranja en 1 pago, plan Z, en 6 y en 10 cuotas.</p>
        </div>
        </article>
    </section>
    <section id='other1'>
        <article id="contrarrembolso">
            <img src="/img/icon.jpg" alt="icon">
            <h4>Contrareembolso</h4>
            <p>Si elegís esta forma de pago vas a poder pagar en efectivo, con tarjeta de débito o crédito cuando
                recibas tu compra en tu domicilio, o bien cuando pases a retirarlo de cualquiera de nuestras sucursales.
            </p>
        </article>
        <article id="transferencia">
            <img src="/img/icon.jpg" alt="icon">
            <h4>Transferencia bancaria</h4>
            <p>Cuando elijas esta forma de pago, vas a recibir un mail indicándote la cuenta a la que deberás realizar
                la transferencia para que podamos hacerte la entrega del producto. Tené en cuenta que la acreditación
                puede demorar hasta 72 hs.</p>
        </article>
    </section>
    <section id="other2">
        <h3>Otras formas de pago</h3>
        <article>
            <img src="/img/bancoco.jpg" alt="yacare">
            <p>Reintegro del 25% en todas las compras con un topo de $3000 por mes y por cuenta. El reintegro aplica los
                dás lunes y martes de cada semana.</p>
        </article>
        <article>
            <img src="/img/bancoco.jpg" alt="mercadopago">
            <p>Mediante link de pago, código QR o con tarjeta.</p>
        </article>
    </section>
</body>

</html>