<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-general.css">
    <title>Sobre Nosotros
    </title>
</head>

<body>
    <div class="aboutUs-container">
        <div id="aboutUs1">
            <h2 id="aboutUs-title">¿Quiénes somos?</h2>
            <p>Bienvenidos a ELECTRO MISIONES, queremos agradecerte por el interes en nosotros.
                Te contaremos un breve repaso de nuestra historia, la cual sigue abierta,
                ya que faltas tú para que la podamos completar
            </p>
        </div>
        <div id="aboutUs2">
            <img src="/img/img1.jpg" alt="" class="aboutUs-img">
            <div id="aboutUs2-content">
                <h3 id="aboutUs2-title">Contamos con una trayectoria de mas de 30 años en el mercado, manteniendo
                    siempre el
                    compromiso con nuestros clientes. </h3>
                <p class="aboutUs">Somos una empresa con una amplia trayectoria en el mercado, que nos dedicamos a
                    especializarnos en
                    los
                    rubros de Tecnología, Iluminación y Electricidad. A lo largo de los años hemos sumado servicios como
                    alquiler de impresoras, obra llave en mano, servicio técnico y una amplia gama de servicios. Esta
                    experiencia nos ha transformado en especialistas en los rubros, brindando soluciones verdaderas
                    acordes
                    a cada necesidad.
                </p>
            </div>

        </div>
        <div id="aboutUs3">
            <p class="aboutUs">A lo largo de los años seguimos los objetivos propuestos de acercar soluciones a
                empresas, familias,
                constructores, técnicos, etc, llevando a Electro Misiones al interior de la provincia y al interior del
                país. Hoy contamos con un total de 5 sucursales activas y 1 en pronta inauguración en la ciudad de
                Puerto Iguazú. Esto nos llena de orgullo ya que seguimos concretando sueños, conecciones y soluciones.
            </p>
            <img src="/img/img1.jpg" alt="" class="aboutUs-img">
        </div>
        <div id="aboutUs4">
            <img src="/img/img1.jpg" alt="" class="aboutUs-img">
            <p class="aboutUs">Con trabajo y dedicación para poder llegar a cada a hogar de la Argentina venimos
                trabajando en conjunto
                y formando parte como socio activo de una las firmas comerciales mas grandes del país en soluciones y
                especialistas en electricidad, la empresa NeoRed. Lo cual nos permite seguir nuestro propósito de seguir
                conectando hogares y brindar soluciones a medidas y al mejor precio.
            </p>
        </div>
        <div id="aboutUs5">
            <p class="aboutUs" >
                Lograr ser la empresa mejor conceptuada por el conjunto de la sociedad como una
                importante generadora de
                empleo de calidad y trabajo digno, a partir del desarrollo comercial de manera productiva.
            </p>
            <p class="aboutUs" >
                Brindamos soluciones incluyendo productos, servicios, instalaciones, y proyectos en electricidad,
                iluminación, tecnología y comunicaciones para hogares, profesionales, empresas, industrias y sector
                público en todo el país con fuerte presencia en la región del NEA y ciudades lindantes, de Paraguay y
                Brasil de manera confiable y responsable.
            </p>
            <p class="aboutUs">
                Nuestro equipo refleja los valores de la empresa, sobre todo los valores como persona.
            </p>
        </div>
        <div id="aboutUs-banner">
            <img src="/img/img-banner.jpg" alt="" class="aboutUs-img">
        </div>

    </div>
    <div></div>
</body>

</html>